* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousal-btn {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 3px;
  padding: 0 3.5%;
  align-items: center;

  .prev-btn {
    width: 20px;
    height: 20px;
    border: 0px;
    background: none;
  }

  .next-btn {
    margin-left: 2px;
    width: 20px;
    height: 20px;
    border: 0px;
    background: none;
  }
}

.carousel-active {
  margin-left: 2px;
  width: 5px;
  height: 5px;
  background-color: #f8df23;
  border-radius: 50%;
}

.nav-div {
  position: sticky;
  top: 0;
}

.nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  list-style-type: none;
  gap: 15px;
  padding: 5%;
  align-items: center;
  width: 100%;
  background-color: white;

  .nav-logo {
    width: 25%;
    margin-right: 40px;
    grid-column: 1/9;
  }

  .nav-inp {
    grid-column: 1/13;
  }

  #text-input {
    padding: 1% 2% 1% 10%;
    height: 35px;
    width: 100%;
    background: url("./images/search.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 14% 66%;
    border: 0px;
    background-color: darkgrey;
    border-radius: 20px;
    font-size: 1rem;
    color: #107bd4;

    &:focus {
      outline: none;
    }
  }

  .nav-img {
    width: 20vh;
  }

  .theme {
    margin: 2px 0px 0px 30px;
  }

  .cart {
    background-color: #107bd4;
    color: white;
    border: 0px;
    height: 30px;
    width: 80%;
    font-size: medium;
    text-align: center;
    position: relative;

    #cart-num {
      background-color: #f8df23;
      height: 25px;
      padding: 5%;
      width: 25px;
      display: none;
      position: absolute;
      bottom: 50%;
      right: -15%;
      border-radius: 50%;
    }
  }
}

.btn {
  width: 100%;
  height: 15px;
}

#content {
  display: grid;
  justify-items: center;
  margin-top: 20px;
  padding: 2%;
  grid-template-columns: repeat(1, 1fr);
}

#theme-img {
  width: 20px;
}

.sort-items {
  grid-column: 11/13;
}

.footer {
  background-color: #f8df23;
  display: flex;
  position: fixed;
  border-top: 20px solid white;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 1% 5%;
  justify-content: space-between;

  .order {
    border: 0px;
    padding: 0.8% 5%;
    color: white;
    font-size: 1rem;
    background-color: #107bd4;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
}

.forminput {
  width: 50%;
}

.login-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  height: 500px;
  width: 80%;
  margin: 40% auto;
  border-radius: 1%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);

  .login-heading {
    color: #107bd4;
    font-size: 35px;
  }

  .form-main {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;

    .inputfeild {
      padding: 2%;
    }

    .login-btn {
      padding: 4%;
      font-size: medium;
      width: 50%;
      text-align: center;
      margin: 10px auto;
      color: white;
      background-color: #107bd4;
      border: 0;
      border-radius: 2%;
      text-decoration: none;
    }
  }

  .register {
    text-decoration: none;
    color: black;
    font-size: 15px;

    &:hover {
      color: #107bd4;
      text-decoration: underline;
    }
  }

  .new-user {
    width: 70%;
    display: flex;
    margin-top: 50px;
    text-decoration: none;
    justify-content: space-between;
  }
}

.login-verify {
  display: none;
}

.register-btn {
  text-decoration: none;
}

.carousel-container {
  width: 100%;
  aspect-ratio: 4/1;
}

.carousel-item {
  width: 100%;
  aspect-ratio: 4/1;
  display: block;
}

.carousel-item img {
  width: 100%;
  aspect-ratio: 4/1;
  object-fit: cover;
}

.itemContainer {
  width: 90%;
  background-color: #107bd4;
  text-align: center;
  margin-bottom: 10%;
}

.itemContainerImg {
  width: 100%;
  margin-bottom: 5%;
}

.itemContainerName {
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 600;
  padding: 0% 5%;
  color: white;
}

.itemContainerDetails {
  margin-top: 2%;
  font-family: sans-serif;
  font-size: 0.8rem;
  padding: 0% 10%;
  color: white;
}

.itemContainerPrice {
  font-weight: 600;
  margin-top: 3%;
  font-family: sans-serif;
  color: white;
}

.itemContainerBtn {
  display: flex;
  justify-content: center;
}

.itemContainerMinus {
  margin: 3% 1%;
  padding: 3%;
  font-weight: 600;
  border: 1px solid white;
  color: #107bd4;
  display: none;
  border-radius: 2%;
}

.itemContainerBtns {
  margin: 3%;
  padding: 3%;
  font-weight: 600;
  border: 1px solid white;
  color: #107bd4;
  border-radius: 2%;
}

.itemContainerAdd {
  margin: 3% 1%;
  padding: 3%;
  font-weight: 600;
  border: 1px solid white;
  color: #107bd4;
  display: none;
  border-radius: 2%;
}

@media (min-width: 500px) {
  .nav {
    .nav-logo {
      grid-column: 1/6;
    }

    .nav-inp {
      grid-column: 9/13;
    }

    .sort-items {
      grid-column: 8/9;
    }
  }

  #content {
    grid-template-columns: repeat(2, 1fr);
  }

  .login-container {
    margin-top: 20%;
    width: 70%;
  }
}

@media (min-width: 768px) {
  .nav {
    padding: 2% 4% 2% 4%;
  }

  .login-container {
    margin-top: 10%;
    width: 50%;
  }

  #content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  #content {
    grid-template-columns: repeat(4, 1fr);
  }

  #theme-img {
    width: 30px;
  }

  .login-container {
    width: 30%;
  }
}