* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousal-btn {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 3px;
  padding: 0 3.5%;
  align-items: center;

  .prev-btn {
    width: 20px;
    height: 20px;
    border: 0px;
    background: none;
  }

  .next-btn {
    margin-left: 2px;
    width: 20px;
    height: 20px;
    border: 0px;
    background: none;
  }
}

.carousel-active {
  margin-left: 2px;
  width: 5px;
  height: 5px;
  background-color: #f8df23;
  border-radius: 50%;
}

.nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  list-style-type: none;
  padding: 5%;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  .nav-logo {
    width: 25%;
    margin-right: 40px;
    grid-column: 1/11;
  }
  .nav-img {
    width: 20vh;
  }

  .theme {
    margin-right: 20px;
  }

  .cart {
    background-color: #107bd4;
    color: white;
    border: 0px;
    height: 30px;
    width: 70px;
    font-size: medium;
    text-align: center;
    position: relative;

    #cart-num {
      background-color: #f8df23;
      height: 25px;
      padding: 5%;
      width: 25px;
      display: none;
      position: absolute;
      bottom: 50%;
      right: -15%;
      border-radius: 50%;
    }
  }
}

#content {
  display: grid;
  justify-items: center;
  margin-top: 20px;
  padding: 2%;
  grid-template-columns: repeat(1, 1fr);
}

#theme-img {
  width: 20px;
}

.footer {
  background-color: #f8df23;
  display: flex;
  position: fixed;
  border-top: 20px solid white;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 1% 5%;
  justify-content: space-between;

  .order {
    border: 0px;
    padding: 0.8% 5%;
    color: white;
    font-size: 1rem;
    background-color: #107bd4;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
}

.forminput {
  width: 50%;
}

.login-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  height: 500px;
  width: 80%;
  margin: 40% auto;
  border-radius: 1%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);

  .login-heading {
    color: #107bd4;
    font-size: 35px;
  }

  .form-main {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;

    .inputfeild {
      padding: 2%;
    }

    .login-btn {
      padding: 4%;
      font-size: medium;
      width: 50%;
      text-align: center;
      margin: 10px auto;
      color: white;
      background-color: #107bd4;
      border: 0;
      border-radius: 2%;
      text-decoration: none;
    }
  }
  .register {
    text-decoration: none;
    color: black;
    font-size: 15px;
    &:hover {
      color: #107bd4;
      text-decoration: underline;
    }
  }

  .new-user {
    width: 70%;
    display: flex;
    margin-top: 50px;
    text-decoration: none;
    justify-content: space-between;
  }
}

.login-verify {
  display: none;
}

.register-btn {
  text-decoration: none;
}

.carousel-container {
  margin-top: 20%;
  width: 100%;
  aspect-ratio: 2/1;
  padding: 0% 3.5%;
}
.carousel-item {
  width: 100%;
  aspect-ratio: 2/1;
  display: block;
}
.carousel-item img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}

@media (min-width: 500px) {
  .carousel-container {
    margin-top: 12%;
  }
  #content {
    grid-template-columns: repeat(2, 1fr);
  }
  .login-container {
    margin-top: 20%;
    width: 70%;
  }
}
@media (min-width: 768px) {
  .carousel-container {
    margin-top: 7%;
  }

  .nav {
    padding: 2% 4% 2% 4%;
  }
  .login-container {
    margin-top: 10%;
    width: 50%;
  }

  #content {
    margin-top: 5%;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  #content {
    grid-template-columns: repeat(4, 1fr);
  }
  #theme-img {
    width: 30px;
  }
  .login-container {
    width: 30%;
  }
}
